<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <!-- Include any additional meta tags, stylesheets, or scripts -->
  </head>
  <body>
    <!-- Header -->
    {{ partial "header.html" . }}

    <!-- Main Content -->
    <main>
      <article>
        <h1>{{ .Title }}</h1>
        {{ partial "list-page-tags.html" . }}
        <p id="date">{{ .Date.Format "Jan 2, 2006" }}</p>
        <div>{{ .Content }}</div>
      </article>
    </main>

    <!-- Footer -->
    {{ partial "footer.html" . }}

    <!-- Include any additional scripts or analytics tracking code -->
  </body>
</html>
